<h1>Edit a task</h1>

<section class="form">

  <%= form_for :task, url: { action: 'update' }, method: 'put' do |f| %>
    <%= f.label :title %>:
    <%= f.text_field :title, class: 'form-control'%>

    <%= f.label :desription %>:
    <%= f.text_field :description, class: 'form-control' %>

    <%= f.submit %>
  <% end %>

</section>
