<h1>Task List</h1>
<ul>
  <% @tasks.each do |task| %>
    <li>


      <% if task[:completed_at] == nil %>
        <%= '▢' %>
      <% else %>
        <%= "✔" %>
      <% end %>


      <%= link_to(task[:title], show_path(task[:id])) %>: <%= task[:description] %>


      <%= link_to("Edit Task", edit_path(task[:id])) %>


      <% if task[:completed_at] == nil %>
        <%= link_to("Mark as Complete", complete_path(task[:id])) %>
      <% else %>
        <%= "Task completed at #{task[:completed_at]}" %>
      <% end %>



      <%= button_to "Delete Task", { action: 'destroy', id: task.id }, method: :delete, data: { confirm: "Are you sure?" } %>

    </li>
  <% end %>
</ul>

<%= link_to("Add a new task", new_path) %>
