<h1>Task List</h1>
<ul>
  <% @tasks.each do |task| %>
    <li>
      <div>
        <% if task[:completed_at] == nil %>
          <%= button_to "▢", { action: 'complete', id: task.id }, method: :put %>
        <% else %>
          <%= button_to "✔", { action: 'uncomplete', id: task.id }, method: :put %>
        <% end %>
      </div>

      <div>
        <%= link_to(task[:title], show_path(task[:id])) %>: <%= task[:description] %>
      </div>

      <div class="edit">
        <%= button_to "Edit", { action: 'edit', id: task.id }, method: :get %>
      </div>

      <div>
        <%= button_to "Delete Task", { action: 'destroy', id: task.id }, method: :delete, data: { confirm: "Are you sure?" } %>
      </div>

      <div>
        <% if task[:completed_at] != nil %>
          <%= "Task completed at #{task[:completed_at]}" %>
        <% end %>
      </div>

    </li>
  </br>
  <% end %>

</ul>

<%= link_to("Add a new task", new_path) %>
