<h1>Task List</h1>
<ul>
  <% @tasks.each do |task| %>
    <li>
      <div>
        <% if task[:completed_at] == nil %>
          <%= button_to "▢", { action: 'update', id: task.id, complete: 'true' }, method: :put %>

        <% else %>
          <%= button_to "✔", { action: 'update', complete: 'false', id: task.id }, method: :put %>
        <% end %>
      </div>

      <div>
        <%= link_to(task[:title], task_path(task[:id])) %>: <%= task[:description] %>
      </div>

      <div class="edit">
        <%= button_to "Edit", { action: 'edit', id: task.id }, method: :get %>
      </div>

      <div>
        <%= button_to "Delete Task", { action: 'destroy', id: task.id }, method: :delete, data: { confirm: "Are you sure?" } %>
      </div>

      <div>
        <% if task[:completed_at] != nil %>
          <%= "Completed on #{task[:completed_at].strftime("%A, %B %d")}" %>
        <% end %>
      </div>

    </li>
  </br>
  <% end %>

</ul>

<%= link_to("Add a new task", new_task_path) %>
