<h1>Add a new task</h1>

<section class="form">

  <%= form_for :task, url: { action: 'create' } do |f| %>
    <%= f.label :title %>:
    <%= f.text_field :title %><br />

    <%= f.label :desription %>:
    <%= f.text_field :description %><br />

    <%= f.submit %>
  <% end %>

</section>
