<h1>Add a new task</h1>

<section class="form">

  <%= form_for :task, url: { action: 'create' } do |f| %>
    <%= f.label :title %>:
    <%= f.text_field :title %>

    <%= f.label :description %>:
    <%= f.text_field :description %>

    <%= f.submit %>
  <% end %>

</section>
