<h1><%= @current_task[:title] %></h1>
<p>
  <%= @current_task[:description] %>
</p>
<p>
  <% if @current_task[:completed_at] == nil %>
    <%= "Task Not Complete" %>
  <% else %>
    <%= "Task completed at #{@current_task[:completed_at]}" %>
  <% end %>
  <%= button_to "Delete Task", { action: 'destroy', id: @current_task.id }, method: :delete, data: { confirm: "Are you sure?" } %>
</p>
